<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
  {{> navbar}}
    <div class="hospital-list box">
      <h2 id="box">Hospital List</h2>

      
        <table class="hospital-list-table">
          <thead class="hospital-list-head">
            <tr>
              <th scope="col">#</th>
              <th scope="col"><strong>Name</strong></th>
              <th scope="col"><strong>Location</strong></th>
              <th scope="col"><strong># Patients</strong></th>
              <th scope="col"><strong># Corona Patients</strong></th>
              <th scope="col"><strong># Critical Patients</strong></th>
            </tr>
          </thead>
          <tbody class="hospital-list-body">
            <tr>
              <th scope="row">1</th>
              <td>Deenanth Mangeskar Hospital</td>
              <td>Karve Nagar, Pune</td>
              <td>5201</td>
              <td>32</td>
              <td>4</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Sahyadri Hospital</td>
              <td>Deccan Gymkhana, Pune</td>
              <td>3500</td>
              <td>31</td>
              <td>2</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Aditya Birla Hospital</td>
              <td>Karve Nagar, Pune</td>
              <td>4200</td>
              <td>26</td>
              <td>5</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Sancheti Hospital</td>
              <td>Karve Nagar, Pune</td>
              <td>4100</td>
              <td>21</td>
              <td>2</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Ruby Hall Hospital</td>
              <td>Karve Nagar, Pune</td>
              <td>3800</td>
              <td>12</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      
      
    </div>
  {{> footer}}
</body>
</html>