<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
  {{> navbar}}
  {{!-- <h1 class="intro-title">Intro to the site</h1> --}}

  {{!-- <button id="get-data">Get Data</button> --}}

  <div class="project-intro">
    <h1>
      CoroMed
    </h1>
    <p class="para-1">
      The COVID-19 outbreak has caused major upheaval on a global scale. If the number of patients keep on rising during this dangerous pandemic, the workload on the hospitals and health care centers would be immense. There may come a time when the demand for medical equipment surpasses the supply. In such critical scenarios, the management of medical supplies will play a very crucial role in fighting the virus.
    </p>
    <p class="para-2">
      Keeping this in mind, we devised CoroMed, an end-to-end platform that brings together the requirements from the Hospitals and Health Care Centers and the availability of supplies from the Manufacturer's side. We hope that our small contribution would help the Government take decisions in a very easy and hassle-free manner.
    </p>
  </div>

  

  <script src="../../js/getdata.js"></script>

  {{> footer}}
</body>
</html>
