<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
  {{> navbar}}

  <div class="login-container">
    <form name="login-form" >
      <h1 class="title">Login</h1>
      <h1 class="email">User Email</h1>
      <input type="email" class="email-input" id="login-email">
      <h1 class="password">User Password</h1>
      <input type="password" class="password-input" id="login-password">
      <button class="login-button" type="submit"><a href="hospitals">login</a></button>
    </form>
  </div>

  <script src="../../js/login.js"></script>

  {{> footer}}
</body>
</html>