<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
  {{> navbar}}
  <div class="hospital-list box">
      <h2 id="box">Manufacturers List</h2>

      
        <table class="hospital-list-table">
          <thead class="hospital-list-head">
            <tr>
              <th scope="col">#</th>
              <th scope="col"><strong>Name</strong></th>
              <th scope="col"><strong>Location</strong></th>
              <th scope="col"><strong>Area of service</strong></th>
              <th scope="col"><strong>Quantity of supply 1</strong></th>
              <th scope="col"><strong>Quantity of supply 2</strong></th>
              <th scope="col"><strong>Quantity of supply 2</strong></th>
            </tr>
          </thead>
          <tbody class="hospital-list-body">
            <tr>
              <th scope="row">1</th>
              <td>GPC Medical Limited</td>
              <td>Mumbai</td>
              <td>Nation Wide</td>
              <td>42000</td>
              <td>33000</td>
              <td>20000</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Allengers Medical System</td>
              <td>Chennai</td>
              <td>Tamil Nadu, Karnataka</td>
              <td>21000</td>
              <td>16000</td>
              <td>12000</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Medical Equipment Manufacturers</td>
              <td>Delhi</td>
              <td>North India</td>
              <td>25000</td>
              <td>20000</td>
              <td>9000</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Medi Surve Hospital Equipments</td>
              <td>Ahmedabad</td>
              <td>Gujrat, Madhya Pradhesh</td>
              <td>17000</td>
              <td>21000</td>
              <td>13000</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Prasaditi Medical Equipments</td>
              <td>Mumbai</td>
              <td>Maharashtra</td>
              <td>27000</td>
              <td>18000</td>
              <td>11000</td>
            </tr>
          </tbody>
        </table>
      
      
    </div>
  

  <script src="../../js/getdata.js"></script>

  {{> footer}}
</body>
</html>
