<header class="navbar">
  <div>
    <a href="/" class="brand-name">CoroMed</a>
    <ul>
      <li><a href="about">Hospitals</a></li>
      <li><a href="seller">Manufacturers</a></li>
      <li><a href="login">Login</a></li>
      <li><a href="register">Register</a></li>
      {{!-- <li></li> --}}
    </ul>
  </div>
</header>