<header class="navbar">
  <div>
    <a href="/" class="brand-name">CoroMed</a>
    <ul>
      <li><a href="about">About</a></li>
      <li><a href="login">Login</a></li>
      <li><a href="login" onclick="" >Logout</a></li>
      {{!-- <li></li> --}}
    </ul>
  </div>
</header>